html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.css-1pwkzcn[disabled],
.css-1pwkzcn[aria-disabled="true"],
.css-1pwkzcn[data-disabled] {
    opacity: 100 !important;
}

/* popover */
.css-1qq679y {
    z-index: 1000 !important;
}
